doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css')
    link(rel="stylesheet", href="/css/weather-icons.min.css")
    link(rel="stylesheet", href="/css/main.css")
  body
    div.header-logo
      img(src="/imgs/pelican-logo.png")
      h1 Pelican Weather
    nav.header-wrapper
      div.header-menu-button
        span
        span
        span
      div.header-display
        div.header-mobile-logo
          img(src="/imgs/pelican-logo.png")
          h2 Pelican Weather
        ul
          - if (!user) {
            li: a(href="/login") login
            li: a(href="/register") register
          - } else {
            li: a(href="#") #{user.username}
            li: a(href="/logout") logout
          - }
