include ./partials/header.pug

section.pelican-intro-wrapper
  div.pelican-intro-display
    div.pelican-weather
      i(class="wi wi-day-cloudy")
    div.pelican-weather-info
      li
        h2 #{weather.main.temp}
        span °
          i F
      li
        span #{weather.weather[0].main}
        span #{weather.name}
      li
        span
        span
    div.pelican-weather-bottom
      form(action="/" method="GET")
        input(type="text" placeholder="city name" name="search" required)
        input(type="submit", value="Submit")
      form(action="/" method="POST").pelican-weather-plus
        button(type="submit") Save
      div.saved-weather-wrapper
        - location.forEach(function(items) {
          li #{items.location}
            a(href='/')
        - });

include ./partials/footer.pug
