include ./partials/header.pug

section.pelican-intro-wrapper
  div.pelican-intro-display
    div.pelican-weather
      h2 Weather Icon
    div.pelican-weather-info
      li 79° 
      li
        span Cloudy Skies
        span Palmetto, Florida
      li
        span May
        span 21
    div.pelican-weather-bottom
