* {
  padding: 0;
  margin: 0; }

body {
  background: #525C64;
  font-family: 'Open Sans', sans-serif; }

.header-wrapper {
  width: 300px;
  height: 100vh;
  background: #2E3335;
  position: fixed;
  right: -300px;
  z-index: 10;
  -webkit-transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1); }
  .header-wrapper.active-menu {
    right: 0; }

@media (min-width: 769px) {
  .header-wrapper {
    width: 100%;
    height: 80px;
    position: initial; } }

.header-menu-button {
  width: 30px;
  height: 30px;
  position: relative;
  top: 18px;
  left: -45px;
  cursor: pointer;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear; }
  .header-menu-button.active-menu-button {
    left: 10px; }
  .header-menu-button span {
    width: 25px;
    height: 2px;
    background: #F1F8F9;
    position: absolute;
    z-index: 1000; }
    .header-menu-button span:nth-of-type(1) {
      top: 3px;
      -webkit-transform: rotate(0);
      transform: rotate(0);
      -webkit-transition: all 0.5s linear, top 0.3s linear 0.5s;
      transition: all 0.5s linear, top 0.3s linear 0.5s; }
    .header-menu-button span:nth-of-type(2) {
      top: 9px;
      opacity: 1;
      -webkit-transition: all 0.5s linear 0.4s;
      transition: all 0.5s linear 0.4s; }
    .header-menu-button span:nth-of-type(3) {
      top: 15px;
      -webkit-transform: rotate(0);
      transform: rotate(0);
      -webkit-transition: all 0.5s linear, top 0.3s linear 0.5s;
      transition: all 0.5s linear, top 0.3s linear 0.5s; }
    .header-menu-button span:nth-of-type(1).active-span {
      top: 9px;
      -webkit-transform: rotate(405deg);
      transform: rotate(405deg);
      -webkit-transition: all 0.5s linear;
      transition: all 0.5s linear; }
    .header-menu-button span:nth-of-type(2).active-span {
      top: 9px;
      opacity: 0;
      -webkit-transition: all 0.5s linear;
      transition: all 0.5s linear; }
    .header-menu-button span:nth-of-type(3).active-span {
      top: 9px;
      -webkit-transform: rotate(495deg);
      transform: rotate(495deg);
      -webkit-transition: all 0.5s linear;
      transition: all 0.5s linear; }

@media (min-width: 769px) {
  .header-menu-button {
    display: none; } }

.header-display {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .header-display ul {
    width: 100%; }
    .header-display ul li {
      width: 100px;
      margin: 20px 0;
      padding-left: 20px;
      display: block;
      text-align: left; }
      .header-display ul li:hover a {
        color: #A5ACAF; }
      .header-display ul li:nth-of-type(3) {
        width: 100px;
        border-radius: 4px;
        -webkit-transition: all 0.5s ease;
        transition: all 0.5s ease; }
        .header-display ul li:nth-of-type(3) a {
          color: #ffffff; }
        .header-display ul li:nth-of-type(3):hover {
          background: #2E3335; }
          .header-display ul li:nth-of-type(3):hover a {
            color: #F1F8F9; }
      .header-display ul li a {
        color: #F1F8F9;
        font-size: 20px;
        text-decoration: none;
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-transition: all 0.5s ease;
        transition: all 0.5s ease; }

@media (min-width: 769px) {
  .header-display {
    width: 100%;
    height: 100%;
    position: relative; }
    .header-display ul {
      width: 400px;
      position: absolute;
      top: 25px;
      right: 10px;
      text-align: right; }
      .header-display ul li {
        width: 100px;
        height: 35px;
        margin: 0 10px;
        padding-left: 0;
        display: inline-block;
        text-align: center; }
        .header-display ul li:nth-of-type(3) {
          padding-top: 5px;
          border: 2px solid #54BAE6; }
          .header-display ul li:nth-of-type(3):hover {
            background: #54BAE6; } }

.header-mobile-logo {
  width: 100%;
  display: initial;
  position: absolute;
  top: 50px;
  left: 0;
  text-align: center; }
  .header-mobile-logo img {
    width: 100px;
    height: 100%; }
  .header-mobile-logo h2 {
    color: #F1F8F9; }
    .header-mobile-logo h2 a {
      color: #F1F8F9;
      text-decoration: none;
      cursor: pointer; }

@media (min-width: 769px) {
  .header-mobile-logo {
    display: none; } }

.header-logo {
  width: 225px;
  color: #F1F8F9;
  position: absolute;
  top: 10px;
  left: 10px; }
  .header-logo h1 {
    font-size: 25px;
    font-weight: normal;
    display: inline;
    margin: 0 5px;
    text-shadow: 0 2px 10px #2E3335; }
    .header-logo h1 a {
      color: #F1F8F9;
      text-decoration: none;
      cursor: pointer; }
  .header-logo img {
    display: none; }

@media (min-width: 769px) {
  .header-logo {
    width: 500px;
    z-index: 100; }
    .header-logo h1 {
      font-size: 30px;
      vertical-align: 10px; }
    .header-logo img {
      width: 40px;
      display: inline-block; } }

.pelican-intro-wrapper {
  width: 100%;
  height: 100%;
  padding-top: 80px; }

.pelican-intro-display {
  width: 300px;
  height: auto;
  background: #F1F8F9;
  margin: 0 auto;
  border-radius: 15px;
  box-shadow: 0px 5px 20px 5px #2E3335;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease; }

@media (min-width: 500px) {
  .pelican-intro-display {
    width: 400px; } }

@media (min-width: 769px) {
  .pelican-intro-display {
    width: 450px; } }

.pelican-weather {
  width: 100%;
  height: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative; }
  .pelican-weather i {
    font-size: 100px;
    color: #A5ACAF; }

.pelican-weather-info {
  width: 100%;
  height: 80px; }
  .pelican-weather-info li {
    width: 25%;
    height: 100%;
    display: inline-block;
    text-align: center; }
    .pelican-weather-info li span {
      display: block; }
    .pelican-weather-info li:nth-of-type(1) {
      color: #A5ACAF;
      vertical-align: top; }
      .pelican-weather-info li:nth-of-type(1) h2 {
        font-size: 40px;
        font-weight: normal;
        display: inline; }
      .pelican-weather-info li:nth-of-type(1) span {
        display: initial;
        vertical-align: 18px;
        font-size: 16px; }
    .pelican-weather-info li:nth-of-type(2) {
      width: 50%;
      height: auto;
      font-size: 18px;
      margin-top: 7px;
      color: #A5ACAF;
      text-align: left; }
      .pelican-weather-info li:nth-of-type(2) span:nth-of-type(2) {
        color: #525C64; }
    .pelican-weather-info li:nth-of-type(3) {
      height: 60px;
      font-size: 20px;
      color: #F1F8F9;
      background: #54BAE6; }

@media (min-width: 769px) {
  .pelican-weather-info li:nth-of-type(1) h2 {
    font-size: 50px; }
  .pelican-weather-info li:nth-of-type(1) span {
    display: initial;
    vertical-align: 22px;
    font-size: 20px; }
  .pelican-weather-info li:nth-of-type(2) {
    margin-top: 11px; } }

.pelican-weather-bottom {
  width: 100%;
  height: 100%;
  min-height: 180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: #2E3335;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px; }
  .pelican-weather-bottom form {
    width: 85%;
    height: auto;
    margin: 0 auto;
    text-align: center; }
    .pelican-weather-bottom form input:nth-of-type(1) {
      width: 100%;
      color: #54BAE6;
      font-size: 25px;
      margin-top: 20px;
      background: transparent;
      letter-spacing: 1px;
      -webkit-appearance: none;
      padding: 2px;
      border: none;
      outline: none;
      border-bottom: 2px solid #A5ACAF; }
      .pelican-weather-bottom form input:nth-of-type(1):focus {
        border-bottom: 2px solid #54BAE6; }
    .pelican-weather-bottom form input:nth-of-type(2) {
      width: 150px;
      height: 40px;
      font-size: 20px;
      color: #F1F8F9;
      background: transparent;
      margin: 20px auto;
      outline: none;
      border: 2px solid #54BAE6;
      -webkit-appearance: none;
      border-radius: 4px;
      cursor: pointer;
      -webkit-transform: translateY(5px);
      transform: translateY(5px);
      -webkit-transition: all 0.5s ease;
      transition: all 0.5s ease; }
      .pelican-weather-bottom form input:nth-of-type(2):hover {
        background: #54BAE6; }

@media (min-width: 769px) {
  .pelican-weather-bottom form {
    width: 70%; } }

.pelican-weather-plus button {
  width: 150px;
  height: 40px;
  color: #F1F8F9;
  font-size: 20px;
  border: 2px solid #F1F8F9;
  border-radius: 4px;
  cursor: pointer;
  background: transparent;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease; }
  .pelican-weather-plus button:hover {
    color: #2E3335;
    background: #F1F8F9; }

.saved-weather-wrapper {
  width: 100%;
  height: 100%;
  margin-top: 35px; }
  .saved-weather-wrapper li {
    width: 100%;
    height: 80px;
    background: #F1F8F9;
    margin: 5px 0;
    list-style: none;
    position: relative; }
    .saved-weather-wrapper li:nth-last-of-type(1) {
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px; }
    .saved-weather-wrapper li h2 {
      color: #A5ACAF;
      padding-top: 25px;
      padding-left: 8px; }

.pelican-weather-delete {
  width: 100px;
  height: auto; }
  .pelican-weather-delete button {
    width: 80px;
    height: 40px;
    font-size: 20px;
    color: #2E3335;
    background: transparent;
    border: 2px solid #2E3335;
    border-radius: 4px;
    position: absolute;
    right: 10px;
    top: 22px;
    cursor: pointer;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease; }
    .pelican-weather-delete button:hover {
      color: #F1F8F9;
      background: #2E3335; }

.register-wrapper {
  width: 100%;
  height: 100%;
  padding-top: 100px; }

@media (min-width: 769px) {
  .register-wrapper {
    height: 90vh;
    padding-top: 0; } }

.register-display {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.register-form {
  width: 100%;
  min-height: 450px;
  background: #2E3335;
  box-shadow: 0px 5px 20px 5px #2E3335;
  border-radius: 4px;
  position: relative;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease; }

@media (min-width: 500px) {
  .register-form {
    width: 400px; } }

@media (min-width: 769px) {
  .register-form {
    width: 500px; } }

.register-form-heading {
  width: 100%;
  height: 100px;
  color: #F1F8F9;
  background: #2E3335;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  text-align: center; }
  .register-form-heading h2 {
    color: #F1F8F9;
    padding-top: 30px; }

.register-form-input {
  width: 100%;
  height: 100%;
  text-align: center;
  padding-top: 40px; }
  .register-form-input input {
    width: 250px;
    height: 40px;
    color: #54BAE6;
    font-size: 20px;
    background: transparent;
    letter-spacing: 1px;
    -webkit-appearance: none;
    padding: 2px;
    margin: 10px 0;
    border: none;
    outline: none;
    border-bottom: 2px solid #A5ACAF; }
    .register-form-input input:focus {
      border-bottom: 2px solid #54BAE6; }

.register-form-footer {
  width: 100%;
  height: 155px;
  background: #2E3335;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  position: absolute;
  bottom: 0; }
  .register-form-footer figure {
    margin-top: 15px; }
  .register-form-footer button {
    width: 150px;
    height: 40px;
    font-size: 20px;
    color: #F1F8F9;
    display: inline;
    background: transparent;
    margin: 20px auto;
    outline: none;
    -webkit-appearance: none;
    border-radius: 4px;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease; }
  .register-form-footer li {
    height: 60px;
    display: inline-block;
    margin: 0 10px; }
    .register-form-footer li:nth-of-type(1) button {
      border: 2px solid #54BAE6; }
      .register-form-footer li:nth-of-type(1) button:hover {
        background: #54BAE6; }
    .register-form-footer li:nth-of-type(2) button {
      border: 2px solid #F1F8F9; }
      .register-form-footer li:nth-of-type(2) button a {
        color: #F1F8F9;
        text-decoration: none;
        -webkit-transition: all 0.5s ease;
        transition: all 0.5s ease; }
      .register-form-footer li:nth-of-type(2) button:hover {
        background: #F1F8F9; }
        .register-form-footer li:nth-of-type(2) button:hover a {
          color: #2E3335; }

@media (min-width: 500px) {
  .register-form-footer {
    height: 100px; } }

.login-wrapper {
  width: 100%;
  height: 100%;
  padding-top: 100px; }

@media (min-width: 769px) {
  .login-wrapper {
    height: 90vh;
    padding-top: 0; } }

.login-display {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.login-form {
  width: 300px;
  min-height: 450px;
  background: #2E3335;
  box-shadow: 0px 5px 20px 5px #2E3335;
  border-radius: 4px;
  position: relative;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease; }

@media (min-width: 500px) {
  .login-form {
    width: 400px; } }

@media (min-width: 769px) {
  .login-form {
    width: 500px; } }

.login-form-heading {
  width: 100%;
  height: 100px;
  color: #F1F8F9;
  background: #2E3335;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  text-align: center; }
  .login-form-heading h2 {
    color: #F1F8F9;
    padding-top: 30px; }

.login-form-input {
  width: 100%;
  height: 100%;
  text-align: center;
  padding-top: 40px; }
  .login-form-input input {
    width: 250px;
    height: 40px;
    color: #54BAE6;
    font-size: 20px;
    background: transparent;
    letter-spacing: 1px;
    -webkit-appearance: none;
    padding: 2px;
    margin: 10px 0;
    border: none;
    outline: none;
    border-bottom: 2px solid #A5ACAF; }
    .login-form-input input:focus {
      border-bottom: 2px solid #54BAE6; }

.login-form-footer {
  width: 100%;
  height: 155px;
  background: #2E3335;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  position: absolute;
  bottom: 0; }
  .login-form-footer figure {
    margin-top: 15px; }
  .login-form-footer button {
    width: 150px;
    height: 40px;
    font-size: 20px;
    color: #F1F8F9;
    display: inline;
    background: transparent;
    margin: 20px auto;
    outline: none;
    -webkit-appearance: none;
    border-radius: 4px;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease; }
  .login-form-footer li {
    height: 60px;
    display: inline-block;
    margin: 0 10px; }
    .login-form-footer li:nth-of-type(1) button {
      border: 2px solid #54BAE6; }
      .login-form-footer li:nth-of-type(1) button:hover {
        background: #54BAE6; }
    .login-form-footer li:nth-of-type(2) button {
      border: 2px solid #F1F8F9; }
      .login-form-footer li:nth-of-type(2) button a {
        color: #F1F8F9;
        text-decoration: none;
        -webkit-transition: all 0.5s ease;
        transition: all 0.5s ease; }
      .login-form-footer li:nth-of-type(2) button:hover {
        background: #F1F8F9; }
        .login-form-footer li:nth-of-type(2) button:hover a {
          color: #2E3335; }

@media (min-width: 500px) {
  .login-form-footer {
    height: 100px; } }
